<html layout:decorate="~{layouts/layout1}">
<div layout:fragment="content" class="container my-3">
  <th:block layout:fragment="css">
    <style>
      .page-link {
        color: #000;
        background-color: #fff;
        border: 1px solid #ccc;
      }
      .page-item.active .page-link {
        z-index: 1;
        color: #555;
        font-weight:bold;
        background-color: #f1f1f1;
        border-color: #ccc;

      }
      .page-link:focus, .page-link:hover {
        color: #000;
        background-color: #fafafa;
        border-color: #ccc;
      }
    </style>
  </th:block>

  <table class="table mt-5">
    <thead>
    <tr class="text-center">
      <td>번호</td>
      <td style="width:50%">제목</td>
      <td>글쓴이</td>
      <td>작성일시</td>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="question, loop : ${paging}">
      <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
      <td class="text-start">
        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}" style="color:#4169E1"></a>
        <span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}"
              th:text="${#lists.size(question.answerList)}">
        </span>
      </td>
      <td><span th:if="${question.author != null}" th:text="${question.author}"></span></td>
      <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
  </table>
  <!-- 페이징처리 시작 -->
  <div th:if="${!paging.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
        <a class="page-link"
           th:href="@{|?page=${paging.number-1}|}">
          <span>Previous</span>
        </a>
      </li>
      <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
          th:if="${page >= paging.number-2 and page <= paging.number+2}"
          th:classappend="${page == paging.number} ? 'active'"
          class="page-item">
        <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
      </li>
      <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
          <span>Next</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- 페이징처리 끝 -->
  <a th:href="@{/question/create}" class="btn btn-sm btn-secondary">질문 등록하기</a>
</div>
</html>